<div class="panel panel-default" >
    <div class="row" style="padding-left: 20px; padding-right: 20px; padding-top: 5px;" >
    <div class="col-xs-12" style="background-color: rgb(243, 243, 243);">
        <div class="pull-left" >
            <h4>{{contact?.name}}</h4>
            <img [src]="contact?.imageUrl" alt="{{contact?.name}}" class="img-responsive">
        </div>
        <div class="pull-right btn-toolbar">
            <button type="button" class="btn btn-primary">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </div>
    </div>
    <div class="row" style="padding: 5px;">
    <div class="col-xs-12">
        <p><span style="font-weight: bold;">Email: </span>{{contact?.email}}</p>
        <p><span style="font-weight: bold;">Phone: </span>{{contact?.phone}}</p>
    </div>
    </div>
</div>
