<div class="panel panel-default">
    <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <span>Chores</span>
              </div>
              <div class="row">
                <div class="pull-right pad-left-right">
                  <a class="btn btn-success" [routerLink]="['new']">New Chore</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<app-chores-item *ngFor="let chore of chores" [chore]="chore" [index]="chore.id"></app-chores-item>
</div>